
# =========================
# SECRETS / SENSITIF DATA
# =========================
.streamlit/secrets.toml
*.env
.env
.env.local

# =========================
# PYTHON CACHE
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# NOTEBOOK CACHE
# =========================
.ipynb_checkpoints/

# =========================
# DATA / DOWNLOAD FILES
# =========================
data/
*.zip
*.csv
*.parquet

# =========================
# LOG FILES
# =========================
*.log

# =========================
# VIRTUAL ENV
# =========================
venv/
env/
.venv/

# =========================
# SYSTEM FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# STREAMLIT CACHE
# =========================
.streamlit/cache/
.streamlit/*.db

# =========================
# IDE
# =========================
.vscode/
.idea/
