
# =========================
# WEB APP
# =========================
streamlit

# =========================
# DATA PROCESSING
# =========================
pandas
numpy

# =========================
# DATABASE
# =========================
sqlalchemy
psycopg2-binary

# =========================
# LLM (GROQ)
# =========================
groq

# =========================
# VISUALIZATION
# =========================
matplotlib

# =========================
# UTILITIES
# =========================
toml
gdown
